h1 {
    font-size: 80px;
    color: darkgray;
    font-family: helvetica;
}

form {
    color: white;
    display: inline-flex;
    margin-bottom: 20px;
}

form > input {
    font-size: 14px;
}

form > button {
    color: white;
    border-color: lightblue;
    background-color: lightblue;
    font-size: 14px;
    /* border-radius: 5px; */
    margin-left: 6px;
}

.done {
    margin-top: 10px;
    font-size: 26px;
    background-color: lightblue;
    /* border-radius: 10px; */
    border-color: lightblue;
    color: white;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}